@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Students and their info</h1>
   
</div>

<p>Bacon ipsum dolor amet pastrami turducken salami,
    shoulder porchetta shankle pork chop biltong.
    Brisket jerky porchetta tongue corned beef bacon
    tail shoulder chicken strip steak kielbasa filet
    mignon t-bone turducken. Pork loin beef ribs
    sausage alcatra. Ball tip tenderloin pancetta,
    spare ribs sirloin shank fatback drumstick
    turducken picanha pork chop andouille short 
    ribs frankfurter salami.</p>